<main class="main">
  <div class="inner">
    <p class="card__title" id="hoge">All Gallery</p>
    <div class="card__wrapper">
      <%= render partial: 'museum', collection: @museums %>
    </div>
    <div class="more">
      <%= link_to "â† back", root_path %>
    </div>
  </div>
</main>
