<main class="main">
  <div class="inner">
    <p class="card__title" id="hoge">Gallery</p>
    <div class="card__wrapper">
      <%= render partial: 'museum', collection: @museums %>
    </div>
    <div class="card__list">
      <%= paginate @museums %>
    </div>
    <p class="memo__title">Recent MeMos</p>
    <div class="memo__list">
      <%= render partial: 'memos/memo', collection: @memos %>
    </div>
    <div class="memo__more">
      <%= link_to "More →", "/museums/#{@museums.ids}/memos" %>
    </div>
  </div>
</main>
