<main class="main">
  <div class="inner">
    <p class="card__title">Gallery</p>
    <div class="card__wrapper">
      <%= render partial: 'museum', collection: @museums %>
    </div>
    <p class="memo__title">MeMos</p>
    <%= render partial: 'memos/memo', collection: @memos %>
  </div>
</main>
