<main class="main">
  <div class="inner">
    <%= form_with(url: search_museums_path, local: true, method: :get, class: "search-form") do |form| %>
      <%= form.text_field :keyword, placeholder: "Gallary Search", class: "search-input" %>
      <%= form.submit "search", class: "search-btn" %>
    <% end %>
    <div class="card__wrapper">
      <% @museums.each do |museum| %>
        <%= render partial: "museum", locals: { museum: museum } %>
      <% end %>
    </div>
  </div>
</div>