<main class="main">
  <div class="inner">
    <%= form_with(url: search_museums_path, local: true, method: :get, class: "search_container") do |form| %>
      <%= form.text_field :keyword, placeholder: "Gallary Search", class: "search-input" %>
      <button type="submit" class="search_button">
        <i class="fas fa-search"></i>
      </button>
    <% end %>
    <p class="card__title">Search Result</p>
    <div class="card__wrapper">
    <% if @museums.present? %>
      <% @museums.each do |museum| %>
        <%= render partial: "museum", locals: { museum: museum } %>
      <% end %>
    <% else %>
      <p class="result_title">Sorry...There is no search result</p>
    <% end %>
    </div>
    <div class="more">
      <%= link_to "â† back", root_path %>
    </div>
  </div>
</div>