/* リセットCSS */
* {
  box-sizing: border-box;
}

html,
body,
ul,
li,
h1,
h2,
p,
div {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Noto Sans JP", "Hiragino Kaku Gothic ProN W3", sans-serif;
  color: #333333;
}

li {
  list-style: none;
}

img {
  max-width: 100%;
  vertical-align: bottom;
}

a {
  text-decoration: none;
  color: #333333;
}

/* ヘッダー */

.header {
  background-color: #ffffff;
  margin-bottom: 50px;
  padding: 20px 0;
}

.inner {
  width: 1024px;
  margin: 0 auto;
}

.nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.logo {
  width: 200px;
}

.nav__right{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.icon{
  height: 45px;
  padding: 10px;
}

.icon:hover{
  opacity: 0.6;
}

/* フォーム周り */
.form__wrapper{
  min-height: calc(100vh - 161px);
}

.form__text {
  width: 50%;
}

.field{
  margin: 20px 0;
}

.actions{
  margin-bottom: 40px;
}

.form__btn{
  display: inline-block;
  padding: 0.4em 1.6em;
  font-size: 0.8em;
  color: #ffffff;
  text-decoration: none;
  user-select: none;
  background: #c7c7c7;
  border: 1px #c7c7c7 solid;
  border-radius: 3px;
  box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.14), 0 1px 2px 0 rgba(0, 0, 0, 0.12);
  transition: 0.2s ease;
}

.form__btn:hover {
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.2), 0 1px 8px 0 rgba(0, 0, 0, 0.12);
  cursor: pointer;
}

.memo_field{
  margin: 30px 0;
}

.text_area{
  height: calc(100vh - 400px);
  width: calc(100vh - 100px);
}

/* メイン */

.card__wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  min-height: calc(100vh - 100px);
}

.card {
  width: calc((100% - 50px) / 3);
}

.card__title{
  font-weight: bold;
  font-size: 30px;
}

.card__img {
  margin: 20px;
}

.card__list {
  display: flex;
}

.memo__title{
  font-weight: bold;
  font-size: 30px;
  padding: 30px 0;
}

.profile_image{
  width: 40px;
  height: 40px;
  border-radius: 100px;
  overflow: hidden;
  border: 1px solid #000000;
}

.profile_image:hover{
  opacity: 0.6;
}

.memos_list{
  text-align: left;
  padding: 30px 0;
}

.more{
  padding: 10px 0;
  font-size: 16px;
}

.more:hover{
  opacity: 0.3;
}

/* 詳細ページ */
.museum__wrapper{
  min-height: calc(100vh - 161px);
}

.museum__hedding{
  font-size: 25px;
  font-weight: bold;
  text-align: center;
}

.museum__body{
  top: 10%;
  right: 40%;
}

.museum__image{
  height: 20%;
  width: 50%;
  text-align: center;
  margin: auto;
  padding: 60px 0;
}

.museum__detail{
  display: flex;
  align-items: right;
  flex-direction: column;
  margin: 30px 0;
}

.detail__title{
  font-size: 20px;
  font-weight: bold;
}

.museum__manage{
  display: flex;
  justify-content: center;
  padding-top: 16px;
}

.museum__btn{
  display: block;
  padding: 0.4em 1.6em;
  font-size: 0.4em;
  color: #c7c7c7;
  text-decoration: none;
  user-select: none;
  border: 1px #c7c7c7 solid;
  border-radius: 3px;
  transition: 0.4s ease;
  margin: 0 4px;
}

.museum__btn:hover{
  color: #fff;
  background: #999;
}

.museum__memos{
  background-color: #ffffff;
  margin: 70px 0 40px 0;
}

.comments_lists{
  padding: 10px 0;
}

.comments_list{
  padding-bottom: 30px;
}

.memo_icon{
  height: 40px;
  padding: 10px;
  display: inline-block;
  vertical-align: middle;
}

.memo_icon:hover{
  opacity: 0.4;
}

.memo_title{
  float: left;
}

.memo__user{
  height: 32px;
  padding-left: 10px;
  display: inline-block;
  vertical-align: middle;
}

/* メモ詳細ページ */
.museum_image{
  width: 30%;
  margin: auto;
  padding: 60px 0;
}

.museum_comments{
  padding-bottom: 30px;
}

.museum_image:hover{
  opacity: 0.6;
}

.user__icon{
  width: 80px;
  height: 80px;
  border-radius: 100px;
  overflow: hidden;
  border: 1px solid #000000;
}

.user__icon:hover{
  opacity: 0.6;
}

.memo_list{
  padding: 40px 0;
}

.delete__icon{
  padding: 10px 0 10px 20px;
  display: inline-block;
  vertical-align: middle;
}

.delete_icon{
  height: 40px;
  padding: 10px 0;
}

/* ユーザーページ */
.user__wrapper{
  min-height: calc(100vh - 161px);
}

.user-heading{
  display: list;
}

.table{
  border-collapse: collapse;
  width: 50%;
  margin: 25px 0;
}

.table__col1{
  text-align: left;
  font-weight: bold;
  background: #ffffff;
  border-collapse: collapse;
  width: 35%;
  padding: 20px 0;
}

.table__col2{
  text-align: left;
  border-collapse: collapse;
  width: 65%;
  padding: 20px 0;
}

.user_icon{
  width: 80px;
  height: 80px;
  border-radius: 100px;
  overflow: hidden;
  border: 1px solid #333333;
}

/* LIKEボタン　*/
.like__icon{
  padding: 10px 0 ;
  display: inline-block;
  vertical-align: middle;
}

.like-link {
  text-decoration: none;
}

.like-link:hover {
  background-color: #fff!important;
}

.like-btn {
  font-size: 15px;
  color: #c7c7c7c7;
}
 
.unlike-btn {
  font-size: 15px;
  color: #ee4a4a;
}

/* BOOKMARKボタン　*/
.bookmark__icon{
  align-items: center;
}

.bookmark-btn {
  font-size: 30px;
  color: #c7c7c7c7;
}
 
.un-bookmark-btn {
  font-size: 30px;
  color: #402848;
}

.bookmark_image{
  height: 200px;
  width: auto;
}

.bookmark__list{
  display: flex;
  flex-wrap:wrap;
}

.bookmark_list{
  width: calc(100% / 3);
  padding: 20px 15px;
}

/* フッター */

.footer {
  background-color: #c7c7c7;
  padding: 10px 0;
}

.copyright {
  text-align: center;
  color: #ffffff;
  font-size: 10px;
}

/* タブレット対応 */
@media (max-width: 1024px) {
  .inner {
    width: 90%;
    margin: 0 auto;
  }
  .page-heading {
    font-size: 24px;
  }
  .card {
    width: 48%;
    margin-bottom: 40px;
  }
  .museum_image{
    width: 60%;
  }
}

 /* スマホ表示 */
@media (max-width: 599px) {
  .logo {
    width: 120px;
  }
  .page-heading {
    font-size: 20px;
  }
  .card {
    width: 100%;
    margin-bottom: 60px;
  }
  .card__title {
    font-size: 18px;
  }
  .card__summary {
    font-size: 14px;
  }
  .museum_image{
    width: 100%;
  }
  .table{
    width: 100%;
  }
  .card {
    width: calc((100% - 50px) / 2);
  }
  .bookmark_list{
    width: calc(100% / 1);
    padding: 20px 15px;
  }
}
