<div class="memo_main">
  <% if memo.user.image? %>
    <%=link_to image_tag(memo.user.image.url, class: :profile_image), "/users/#{memo.user.id}" %>
  <% else %>
    <%=link_to image_tag('/assets/default.jpg', class: :profile_image), "/users/#{memo.user.id}" %>
  <% end %>

  <div class="memo__user">
    <%= memo.user.name %>
  </div>

  <li class="memos_list">
    <%= link_to simple_format(memo.memo), "/museums/#{memo.museum.id}"%>
  </li>
</div>