<div class="memo_main">
  <div class="memo_user">
    <% if memo.user.image? %>
      <%=link_to image_tag(memo.user.image.url, class: :profile_image), "/users/#{memo.user.id}" %>
    <% else %>
      <%=link_to image_tag('/assets/default.jpg', class: :profile_image), "/users/#{memo.user.id}" %>
    <% end %>
    <%= memo.user.name %>
  </div>

  <li class="memos_list">
    <%= link_to simple_format(memo.memo), "/museums/#{memo.museum.id}"%>
    <%#= link_to memo.museum.title, "/museums/#{memo.museum.id}/memos/#{memo.id}", class: :memo_user %>
  </li>
</div>