<div class="card">
  <li class="comments_list">
    <%= link_to memo.memo, "/museums/#{memo.museum.id}", class: :memo_user %>
    /<%= link_to memo.museum.title, "/museums/#{memo.museum.id}", class: :memo_user %>
    /<%= link_to memo.user.name, "/users/#{memo.user.id}", class: :memo_user %>
  </li>
</div>