<main class="main">
  <div class="inner">
    <p class="memo__title">All MeMos</p>
    <div class="memo__list">
      <%= render partial: 'memos/memo', collection: @memos %>
    </div>
    <div class="memo__more">
      <%= link_to "â† back", root_path %>
    </div>
  </div>
</div>